[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
chromadb = "*"
python-dotenv = "*"
black = "*"
isort = "*"
pytest = "*"
tiktoken = "*"
faiss-cpu = "*"
langchainhub = "*"
langgraph-checkpoint-sqlite = "*"
langchain-chroma = "*"
langchain = "*"
langgraph = "*"
langgraph-cli = "*"
tavily-python = "*"
langchain-community = "*"
pypdf = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.12"
