[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
black = "*"
isort = "*"
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
langgraph = "*"
pyppeteer = "*"

[dev-packages]

[requires]
python_version = "3.12"
